.calendar-container {
  width: 100%;
  max-width: 400px;
  margin: 5 auto;
  padding: 20px;
  background: linear-gradient( rgba(255, 0, 162, 0), rgb(141, 235, 139));
  border: 5px solid #03802b;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  padding: 10px;
  background-color: #b02bd8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.calendar {
  display: grid;
    
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar div {
  width: 33px;
  height: 33px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mood-selector {
  margin-top: 10px;
}

.mood-selector select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b02bd8;
  border-radius: 5px;
}
